tmap(gneJ1, i2b, 1;2;3;4).
tmap(gneJ1, lnk1a, 5;6;7;8).
tmap(gneJ1, i1b, 9;10;11;12).
tmap(gneJ13, i3b, 1;2;3;4;5;6).
tmap(gneJ13, i4b, 7;8;9;10;11;12).
tmap(gneJ13, i5b, 13;14;15;16;17;18).
tmap(gneJ13, lnk1c, 19;20;21;22;23;24).

lmap(-gneE0, o1b, ew).
lmap(gneE0, i1b, we).
lmap(gneE1, o2b, ew).
lmap(-gneE1, i2b, we).
lmap(gneE11a, lnk1a, we).
lmap(gneE11b, lnk1c, we).
lmap(-gneE12a, lnk1c, ew).
lmap(-gneE12b, lnk1a, ew).
lmap(-gneE13, i5b, ew).
lmap(gneE13, o5b, we).
lmap(-gneE14, i4b, ew).
lmap(gneE14, o4b, we).
lmap(-gneE15, i3b, ew).
lmap(gneE15, o3b, we).

lmap(:gneJ1_0, gneJ1, ).
lmap(:gneJ1_1, gneJ1, we).
lmap(:gneJ1_3, gneJ1, we).
lmap(:gneJ1_5, gneJ1, ew).
lmap(:gneJ1_7, gneJ1, ew).
lmap(:gneJ1_8, gneJ1, we).
lmap(:gneJ1_10, gneJ1, we).
lmap(:gneJ13_0, gneJ13, ew).
lmap(:gneJ13_1, gneJ13, ew).
lmap(:gneJ13_4, gneJ13, we).
lmap(:gneJ13_7, gneJ13, ew).
lmap(:gneJ13_10, gneJ13, ew).
lmap(:gneJ13_3, gneJ13, ew).
lmap(:gneJ13_18, gneJ13, we).
lmap(:gneJ13_19, gneJ13, we).
lmap(:gneJ13_21, gneJ13, we).
lmap(:gneJ13_22, gneJ13, we).
