tmap(gneJ1, i2b, 1;2;3;4).
tmap(gneJ1, lnk1a, 5;6;7;8).
tmap(gneJ1, i1b, 9;10;11;12).
tmap(gneJ13, i3b, 1;2;3;4;5;6).
tmap(gneJ13, i4b, 7;8;9;10;11;12).
tmap(gneJ13, i5b, 13;14;15;16;17;18).
tmap(gneJ13, lnk1c, 19;20;21;22;23;24).

lmap(-gneE0, 0, o1b, gneJ1, ew).
lmap(-gneE0, 1, o1b, o1,  ew).
lmap(gneE0, 0, i1, i1b, we).
lmap(gneE0, 1, i1b, gneJ1, we).
lmap(gneE1, 0, gneJ1, o2b, ew).
lmap(gneE1, 1, o2b, o2, ew).
lmap(-gneE1, 0, i2, i2b, we).
lmap(-gneE1, 1, i2b, gneJ1, we).
lmap(gneE11a, 0, gneJ1, lnk1a, we).
lmap(gneE11a, 1, lnk1a, lnk1b, we).
lmap(gneE11b, 0, lnk1b, lnk1c, we).
lmap(gneE11b, 1, lnk1c, gneJ13, we).
lmap(-gneE12a, 0, gneJ13, lnk1c, ew).
lmap(-gneE12a, 1, lnk1c, lnk1b, ew).
lmap(-gneE12b, 0, lnk1b, lnk1a, ew).
lmap(-gneE12b, 1, lnk1a, gneJ1, ew).
lmap(-gneE13, 0, i5, i5b,  ew).
lmap(-gneE13, 1, i5b, gneJ13, ew).
lmap(gneE13, 0, gneJ13, o5b, we).
lmap(gneE13, 1, o5b, o5, we).
lmap(-gneE14, 0, i4, i4b, ew).
lmap(-gneE14, 1, i4b, gneJ13, ew).
lmap(gneE14, 0, gneJ13, o4b, we).
lmap(gneE14, 1, o4b, o4, we).
lmap(-gneE15, 0, i3, i3b, ew).
lmap(-gneE15, 1, i3b, gneJ13, ew).
lmap(gneE15, 0, gneJ13, o3b, we).
lmap(gneE15, 1, o3b, o3, we).

lmap(:gneJ1_0, 0, gneJ1, gneJ1, we).
lmap(:gneJ1_1, 0, gneJ1, gneJ1, we).
lmap(:gneJ1_3, 0, gneJ1, gneJ1, we).
lmap(:gneJ1_5, 0, gneJ1, gneJ1, ew).
lmap(:gneJ1_7, 0, gneJ1, gneJ1, ew).
lmap(:gneJ1_8, 0, gneJ1, gneJ1, we).
lmap(:gneJ1_10, 0, gneJ1, gneJ1, we).
lmap(:gneJ13_0, 0, gneJ13, gneJ13, ew).
lmap(:gneJ13_1, 0, gneJ13, gneJ13, ew).
lmap(:gneJ13_4, 0, gneJ13, gneJ13, we).
lmap(:gneJ13_7, 0, gneJ13, gneJ13, ew).
lmap(:gneJ13_10, 0, gneJ13, gneJ13, ew).
lmap(:gneJ13_3, 0, gneJ13, gneJ13, ew).
lmap(:gneJ13_18, 0, gneJ13, gneJ13, we).
lmap(:gneJ13_19, 0, gneJ13, gneJ13, we).
lmap(:gneJ13_21, 0, gneJ13, gneJ13, we).
lmap(:gneJ13_22, 0, gneJ13, gneJ13, we).
